{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %} - Django Pharmacy System</title>
    {% comment %} <script src="{% static 'scripts/tailwind.js' %}"></script> {% endcomment %}
    {% comment %} <link href="{% static 'output.css' %}" rel="stylesheet"> {% endcomment %}
    <script src="{% static 'scripts/htmx.js' %}"></script>
		{% tailwind_css %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="flex w-full max-w-full min-h-screen dark:bg-neutral-900 dark:text-white">
      {% if layout_options.sidebar != False %}
        {% include "components/sidebar.html" %}
      {% endif %}
      <main class="p-5 mx-0 md:mx-5 xl:mx-auto my-5 flex flex-col items-start w-full max-w-full xl:max-w-5xl 2xl:max-w-6xl">
        {% block body %}
            <span>Loading...</span>
        {% endblock body %}
      </main>
    </div>
    <noscript>Please enable JavaScript to continue.</noscript>
    <script src="{% static 'scripts/darkmode.js' %}"></script>
  </body>
</html>