{% extends "components/layout.html" %}
{% block body %}
    <button hx-confirm="Send a request?"
            hx-post="/clicked"
            hx-trigger="click"
            hx-target="#response_from_server"
            class="px-3 py-2 hover:bg-emerald-500 focus-visible:bg-emerald-500 bg-emerald-600 transition-colors text-white border rounded-lg">
        Click me
    </button>
    <label for="response_from_server">Response from server:</label>
    <output id="response_from_server"></output>
{% endblock body %}
