{% extends "components/layout.html" %}
{% block title %}
    Inventory
{% endblock title %}
{% block body %}
    <header class="mb-5">
        <h2 class="text-2xl">Inventory</h2>
    </header>
    <section class="flex gap-3 items-center mb-8">
        {% if pharmacies %}
            <select id="selected-pharmacy" class="dark:text-black rounded border-none shadow-md">
                <option value="">Select pharmacy</option>
                {% for pharmacy in pharmacies %}<option value="{{ pharmacy.id }}">{{ pharmacy.name }}</option>
                {% endfor %}
            </select>
            <button id="btn-add-drug" disabled hidden class="flex items-center text-white cursor-pointer bg-emerald-700 hover:bg-emerald-600 py-2 px-3 rounded shadow-md">
                <svg class="mr-1 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path></svg>
                Add drug
            </button>
        {% else %}
            <p>No pharmacy found. <a href="#" class="text-emerald-600 underline">Add new pharmacy</a></p>
        {% endif %}
        <dialog>
            <h2>Add drug</h2>
        </dialog>
    </section>
    <section class="flex flex-col mb-3 w-full">
        {% if pharmacies %}
            <table class="w-full border-separate border-spacing-0 text-sm text-left">
                <thead>
                    <tr class="sticky top-0 text-white">
                        <th class="sticky top-0 py-1 px-2 font-normal bg-teal-700 border border-teal-600 rounded-tl">Generic name(s)</th>
                        <th class="sticky top-0 py-1 px-2 font-normal bg-teal-700 border border-teal-600">Brand name(s)</th>
                        <th class="sticky top-0 py-1 px-2 font-normal bg-teal-700 border border-teal-600">Active ingredients</th>
                        <th class="sticky top-0 py-1 px-2 font-normal bg-teal-700 border border-teal-600">Route</th>
                        <th class="sticky top-0 py-1 px-2 font-normal bg-teal-700 border border-teal-600">Dosage and administration</th>
                        <th class="sticky top-0 py-1 px-2 font-normal bg-teal-700 border border-teal-600 rounded-tr">Manufacturer name</th>

                    </tr>
                </thead>
                <tbody>
                    {% if drugs %}
                        {% for drug in drugs %}
                            <tr>
                                <td class="p-2 border border-neutral-100 dark:border-neutral-700 align-top">
                                    {% for name in drug.open_fda.generic_name %}
                                    <span class="inline-block">
                                        {{ name }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="p-2 border border-neutral-100 dark:border-neutral-700 align-top">
                                    {% for brand_name in drug.open_fda.brand_name %}
                                    <span class="inline-block">
                                        {{ brand_name }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="p-2 border border-neutral-100 dark:border-neutral-700 align-top">
                                    {% for active_ingredient in drug.active_ingredient %}
                                    <span class="inline-block">
                                        {{ active_ingredient }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="p-2 border border-neutral-100 dark:border-neutral-700 align-top">
                                    {% for route in drug.open_fda.route %}
                                    <span class="inline-block">
                                        {{ route }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="p-2 border border-neutral-100 dark:border-neutral-700 align-top">
                                    {% for dosage_and_administration in drug.dosage_and_administration %}
                                    <span class="inline-block">
                                        {{ dosage_and_administration|slice:"0:80" }}...
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="p-2 border border-neutral-100 dark:border-neutral-700 align-top">
                                    {% for manufacturer_name in drug.open_fda.manufacturer_name %}
                                    <span class="inline-block">
                                        {{ manufacturer_name }}
                                    </span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                    {% else %}
                        <tr>
                            <td class="p-2">No drugs found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const select_pharmacy = document.getElementById("selected-pharmacy")
        
        const selected_pharmacy_param = (new URLSearchParams(window.location.search)).get("pharmacy")

        if(selected_pharmacy_param) {
            // if there is a selected pharmacy, show add drug btn
            const btn_add_drug = document.getElementById("btn-add-drug")
            btn_add_drug.disabled = false
            btn_add_drug.hidden = false
            
            Array.from(document.querySelector("#selected-pharmacy").querySelectorAll("option")).map(option => {
                if(option.value === selected_pharmacy_param) {
                    option.selected = true
                } else {
                    option.selected = false
                }
            }) 
        }
        
        select_pharmacy.addEventListener("change", (event) => {
            if(event.target.value) {
                window.location.assign(`${window.location.origin}/inventory?pharmacy=${event.target.value}`)
            }
        })
      })
    </script>
{% endblock body %}
